* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  background: #000000;
}

@media (min-width: 480px) {
  .slate {
    margin-left: 10%;
    margin-right: 10%;
  }
  #main-nav {
    text-align: center;
  }
  #main-nav .navbar-header, #main-nav #main-nav-list {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

}

.image-wrapper {
  position: relative;
}

.img-responsive {
	float: center;
	margin: 0 auto;
}

.text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 50%;
}

.text-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 87%;

}

p {
	font-size: 1em;
}
