* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

/** {
    border:1px solid black;
}*/

.navbar-brand {
  padding: 0px;
  padding-left: 100px;
}

@media (max-width: 768px) {
    .navbar-brand {
        padding: 0px;
        padding-left: 50px;
    }
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar {
    min-height: 15px;
    margin-bottom: 0px;
}

#head.navbar{
    min-height: 15px;
    margin-bottom: 0px;
}

#head.navbar-default {
    font-size: 12px;
    letter-spacing: .05em;
    background-color: rgba(0, 0, 0, 1);
    border-width: 0px;
    border-radius: 0px;
    padding-right: 200px;
    font-family: 'Source Sans Pro', sans-serif;
}
#head.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
    padding: 10px 20px;
}
#head.navbar-default .navbar-nav>li>a:hover,
#head.navbar-default .navbar-nav>li>a:focus {
    color: #EC2028;
    background-color: rgba(0, 0, 0, 1);
}
#head.navbar-default .navbar-nav>.active>a,
#head.navbar-default .navbar-nav>.active>a:hover,
#head.navbar-default .navbar-nav>.active>a:focus {
    color: #EC2028;
    background-color: rgba(0, 0, 0, 1);
}
#head.navbar-default .navbar-toggle {
    border-color: #000000;
}
#head.navbar-default .navbar-toggle:hover,
#head.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}
#head.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
#head.navbar-default .navbar-toggle:hover .icon-bar,
#head.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}

#main.navbar-header {
    background-color: #FFFFFF;
}

#main.navbar-default .navbar-brand {
    color: #FFFFFF;
}
#main.navbar-default {
    font-size: 18px;
    letter-spacing: .05em;
    color: #00000;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
#main.navbar-default .navbar-nav>li>a {
    color: #002B5C;
    background-color: #FFFFFF;
}
#main.navbar-default .navbar-nav>li>a:hover,
#main.navbar-default .navbar-nav>li>a:focus {
    color: #EC2028;
    background-color: #FFFFFF;
}
#main.navbar-default .navbar-nav>.active>a,
#main.navbar-default .navbar-nav>.active>a:hover,
#main.navbar-default .navbar-nav>.active>a:focus {
    color: #002B5C;
    background-color: #FFFFFF;
}
#main.navbar-default .navbar-toggle {
    border-color: #002B5C;
}
#main.navbar-default .navbar-toggle:hover,
#main.navbar-default .navbar-toggle:focus {
    background-color: #FFFFFF;
}
#main.navbar-default .navbar-toggle .icon-bar {
    background-color: #002B5C;
}
#main.navbar-default .navbar-toggle:hover .icon-bar,
#main.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #EC2028;
}



.img-wrapper {
  position: relative;
}

.img-responsive {
    border: 2px solid;
    border-color: #002B5C;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 80%;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #EC2028;
  border-color: #EC2028;
}

.btn-info {
    color: #ffffff;
    background-color: #002B5C;
    border-color: #002B5C;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #EC2028;
  border-color: #EC2028;
}

.full {
    width: 100%;    
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer ul {
    font-size: 12px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 2px;
    padding-bottom: 2px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}